[submodule "concorde-android"]
	path = concorde-android
	url = https://github.com/mirceadino/concorde-android
[submodule "concorde-react-native"]
	path = concorde-react-native
	url = https://github.com/mirceadino/concorde-react-native
